[Unit]
Description=Populate postgresql with users and databases needed for keycloak and sentry
After=postgresql.service

[Service]
Type=oneshot
User=postgres
#EnvironmentFile=-/etc/sysconfig/cloudtrust_postgresql_init
ExecStart=/cloudtrust/postgresql-tools/bin/python /cloudtrust/postgresql-tools/postgresql_script_run.py \
          --config-file /etc/sysconfig/cloudtrust_postgresql_init \
          --ip 127.0.0.1 \
	  --scripts /cloudtrust/postgresql-tools/scripts/keycloak.sql /cloudtrust/postgresql-tools/scripts/keycloak_rollback.sql \
	 /cloudtrust/postgresql-tools/scripts/sentry.sql /cloudtrust/postgresql-tools/scripts/sentry_rollback.sql	 
ExecStart=+/bin/systemctl disable postgresql_init 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
